
.TitleContainer{
    padding-top: calc(64px);
    
}
.ProjectSegment{
    min-Height:100vh;
    display:flex;
    align-items: flex-start;
    flex-direction:column;
}
.Title{
    padding:0 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;
}
