.NavBar{
    position:fixed;
    display:flex;
    flex-direction: space-between;
}
.NavBarButton{
    text-transform:none !important;
}
.Logo{
    display:flex;
    align-items: center;
}
.AppBar{
    background-color:#212121 !important;
}
